@model IEnumerable<WebAssignment.Models.CartModel>
@{
    ViewBag.Title = "ViewCart";
}

<h2>Your Cart</h2>
<table border="1">
    <tr>
        <th>Item Code</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Change Order</th>
    </tr>
    @foreach (var product in Model)
    {<!--Error here in Model-->
        <tr>
            <td>@product.ItemId</td>
            <td>@product.Title</td>
            <td>@product.Quantity</td>
            <td>@product.TotalPrice</td>
            <td>
                @using (Html.BeginForm("RemoveItem", "Cart", FormMethod.Post))
                {
                    <input type="text" name="id" value=@product.ItemId hidden />
                    <input type="submit" value="Remove" />
                }
            </td>
        </tr>
    }
</table>
<p>Total Price: @ViewBag.TransactionPrice</p>
@using (Html.BeginForm("ClearAll", "Cart", FormMethod.Post))
{
    <p> <input type="submit" value="Clear All" /></p>

}
@using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
{
    <p><input type="submit" value="Checkout" /></p>

}

