@model WebAssignment.Models.Contact
@{
    /*Contact Form*/

    ViewBag.Title = "Index";
}

<!--SEO-->
<title>Lake Peninsula - Contact</title>
<meta name="description" content="Lake Peninsula, mens fashion and apparal web store. Contact page ">
<meta name="keywords" content="Lake Peninsula,menswear,fashion,mens,clothes,eCommerce,Contact, feedback">

<link href="~/Content/Styles.css" rel="stylesheet" />
<div class="contact">
    <h2>Want to Contact Us?</h2>
    <h3>Fill out the form and we will get back to you.</h3>
</div>
<div class="myForm">
    @using (Html.BeginForm("Index", "Contact", FormMethod.Post))
    {
        <p>
            @Html.ValidationSummary(false, "")
        </p>
        <p>
            <span>@Html.LabelFor(c => c.Name)</span>
            @Html.TextBoxFor(c => c.Name)<span>&nbsp;(Optional)</span>
        </p>
        <p>
            <span>@Html.LabelFor(c => c.Subject)</span>
            @Html.TextBoxFor(c => c.Subject)<span>&nbsp;(Optional)</span>
        </p>
        <p>
            <span>@Html.LabelFor(c => c.Email)</span>
            @Html.TextBoxFor(c => c.Email)
        </p>
        <p>
            <span>@Html.LabelFor(c => c.Comments)</span>
            @Html.TextAreaFor(c => c.Comments, new { @rows = 4, @cols = 50 })
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>
    }
</div>


